@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    
   
}

body {
    margin: 0;
    background-image: linear-gradient(to top, rgb(0, 0, 0),rgb(66, 24, 70));
    height: 100%;
    min-height: 100vh;
}

